[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MALDIquant"]
	path = MALDIquant
	url = https://github.com/sgibb/maldiquant
[submodule "MALDIquantForeign"]
	path = MALDIquantForeign
	url = https://github.com/sgibb/maldiquantforeign
[submodule "readBrukerFlexData"]
	path = readBrukerFlexData
	url = https://github.com/cran/readBrukerFlexData
[submodule "readMzXmlData"]
	path = readMzXmlData
	url = https://codeberg.org/sgibb/readmzxmldata
