[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "MALDIquant"]
	path = MALDIquant
	url = https://github.com/sgibb/maldiquant
	shallow = true
	registered = true
[submodule "MALDIquantForeign"]
	path = MALDIquantForeign
	url = https://github.com/sgibb/maldiquantforeign
	shallow = true
	registered = true
[submodule "readBrukerFlexData"]
	path = readBrukerFlexData
	url = https://github.com/sgibb/readbrukerflexdata
	shallow = true
	registered = true
[submodule "readMzXmlData"]
	path = readMzXmlData
	url = https://github.com/sgibb/readmzxmldata
	shallow = true
	registered = true
